.btn-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    padding: 14px 20px;
    margin: 20px 10px;
    background: $color-brand;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: $color-white;
    text-align: center;
    display: inline-block;
    transform: scale(1);
    transition: transform 0.35s ease-in-out;

    &--secoundary {
        background: $color-white;
        color: $color-brand;
        border: 1px solid $color-brand;
    }
}

.button:hover {
    transform: scale(1.030);
    cursor: pointer;
}

.tab {
    padding: 14px 8px;
    margin: 20px 0 0 0;
    background: $color-brand;
    border: none;

    color: $color-white;
    text-align: center;
    display: inline-block;
    transform: scale(1);
    font-size: $regular-text;
    transition: transform 0.35s ease-in-out;
}

.tab:hover {
    transform: scale(1.030);
    cursor: pointer;
}

.tab-active {
    border-bottom: 2px solid $color-white;
    font-weight: bold;
}