//footer
.wrap {
    //for sticky footer
    min-height: calc(100vh - 100px);
    background: $color-white;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    &__logo {
        opacity: .5;
    }

    &__img img {
        opacity: .6;
        width: 80%;
    }

    &__para {
        margin: 10px;
        color: $color-white;
        opacity: .8;
    }
}