//sections

.banner-section {
    background: $color-brand;
    padding: 30px 0;
}

.applicants-section {
    padding: 60px 0;
    background-color: $color-light-grey3;
}

.footer-section {
    background: $color-brand;
}