//colors
$color-black: #10131A;
$color-brand: #1ABC9C;
$color-secoundary: #2196f3;
$color-brand-light: #E8F8F5;
$color-white: #ffffff;
$color-light-grey : #F8F8F8;
$color-light-grey2 : rgb(238, 238, 238);
$color-light-grey3 :#F8F8F8;
$color-input-border : #e0e0e0;
$color-text : #333333;
$color-text-grey : #707070;

// Heading and font-size
$banner-title : 50px;
$section-title : 34px;
$subheading-text: 24px;
$regular-text: 18px;


$line-height: 40px;
$font-weight: 400;